<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ZktecoIp" value="0.0.0.0" />
    <add key="ZktecoPuerto" value="4370" />
    <add key="ZktecoMachineNumber" value="1" />
    <add key="ZktecoPassword" value="" />
    <add key="HoraSincronizacion" value="10:00" />
    <add key="DiasRecuperacion" value="7" />
    <add key="ErpEndpointUrl" value="https://REEMPLAZAR-ENDPOINT-CLIENTE.example.com/api/asistencia/marcaciones/biometrico" />
    <add key="ErpApiKey" value="REEMPLAZAR-API-KEY" />
    <add key="LogFilePath" value="C:\ProgramData\OpticentroZKTeco\log\asistencia.log" />
    <add key="MarcacionesFolderPath" value="C:\ProgramData\OpticentroZKTeco\marcaciones" />
    <add key="MarcacionesMarcadorPath" value="C:\ProgramData\OpticentroZKTeco\marcaciones\sincronizacion" />
  </appSettings>
</configuration>
